<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="/assets/images/logo1.png" alt="logo1">
        <p class="navbar-brand" href="#">別來</p>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myMenu"
            aria-controls="myMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><!-- 漢堡選單 -->
        </button>
        <!-- -----------TitleNav------------ -->

        <div class="collapse navbar-collapse" id="myMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a [routerLinkActive]="'active'" routerLink="home" class="nav-link active" aria-current="page" href="#">首頁</a>
                </li>

                <li class="nav-item dropdown" id="menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        菜單介紹
                    </a>
                    <!-- ---------------New下拉選單----------------- -->
                    <ul class="dropdown-menu" id="menutext">
                        <li><a [routerLinkActive]="'active'" routerLink="brunch" class="dropdown-item" href="#">早午餐</a></li>
                        <li><a [routerLinkActive]="'active'" routerLink="afternoonTea" class="dropdown-item" href="#">下午茶</a></li>
                        <li><a [routerLinkActive]="'active'" routerLink="menu" class="dropdown-item" href="#">即將推出</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="'active'" routerLink="seasonal" class="nav-link" href="#">季節限定</a>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="'active'" routerLink="news" class="nav-link" href="#">最新消息</a>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="'active'" routerLink="store" class="nav-link" href="#">門市資訊</a>
                </li>
                <li class="nav-item">
                    <a [routerLinkActive]="'active'" routerLink="contact" class="nav-link" href="#">聯絡我們</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <header>
    <p>COFFEE TIME</p>
</header>

<div>
    <div class="col-d-3 col-t-4 col-c-4 col-s-12 one">content1</div>
    <div class="col-d-3 col-t-4 col-c-4 col-s-6 tow">content2</div>
    <div class="col-d-3 col-t-4 col-c-4 col-s-6 three">content3</div>
    <div class="col-d-3 col-t-12 col-c-12 col-s-12 four">content4</div>
</div>
<footer>footer</footer> -->