nav {
    background-color: antiquewhite !important;
}

.collapse {
    margin-left: 30%;
}

img {
    width: 50px;
    padding-bottom: 10px;
}

.navbar-brand {

    font-size: 36px !important;
    -webkit-text-stroke: 0.5px #E8D2C0;
    text-shadow: 3px 3px 4px rgb(43, 29, 35);
}

.navbar a {
    color: #3F403B !important;
    font-size: 20px;
    position: relative;

}

.navbar a:hover {
    background-color: #dcd0c0 !important;
}

/* a:link:after {
    content: " ";
    display: block;
    width: 0%;
    height: 4px;
    background-color: #736868;
    position: absolute;
    right: 0;
    transition: .3s .2s;
} */
/* 
a:hover::after {
    width: 100%;
    left: 0;
} */

.active {
    border-bottom: 4px solid #736868;
    background-color: #E8D2C0;
    color: #736868
}

/*--------------------以上NAV結束-------------------- */



[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    text-align: center;
    background-color: rgb(162, 233, 255);
}

.tow {
    text-align: center;
    background-color: rgb(250, 201, 128);
}

.three {
    text-align: center;
    background-color: rgb(236, 167, 167);
}

.four {
    text-align: center;
    background-color: rgb(140, 190, 140);
}

footer {
    left: 0px;
    bottom: 0px;
    background-color: gray;
    width: 100%;
    padding: 8px;
    text-align: center;
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}