.footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    clear: both;
}

img {
    margin-left: 10px;
    width: 30px;
}