.information {
    width: 100%;
    clear: both;
    float:inline-end;
    background-color: #D0C6C0;
    align-items: center;

}

.addressBox {
    margin-left: 80px;
}

.title {
    display: flex;
    padding: 20px;
    font-size: 20px;
}

.address {
    display: flex;
    align-items: center;
    padding: 20px;
}

.assress-text {
    padding: 10px;
    margin-left: 80px;
}

.dotted-line {
    border-top: 1px;
    border-style: dashed;
}


/* ---------右邊-------- */
.iconBox {
    margin-top: 80px;
    display: inline-flex;
    align-items: center;
}

.iconBox a {
    text-decoration: none;
    color: white;
}

.icon {
    padding: 10px;
}

.icon img {
    width: 50px;
}

.btn {
    width: 100px;
    background-color: #736868;
    padding: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: #B0A092;
}

/* --------------RWD------------- */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    text-align: center;

    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;

    /* background-color: rgb(250, 201, 128); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}