<div class="information">
    <div class="col-d-6 col-t-6 col-c-12 col-s-12 one">
        <div class="addressBox">

            <div class="title">
                <p>別來咖啡館</p>
            </div>

            <p class="dotted-line"></p>

            <div class="address">
                <div>
                    <p>門市地址</p>
                </div>
                <div class="assress-text">
                    <p>高雄市三民區中山一路100號</p>
                </div>
            </div>

            <p class="dotted-line"></p>

            <div class="address">
                <div>
                    <p>客服電話</p>
                </div>
                <div class="assress-text">
                    <p>高雄:(07)123-4567</p>
                </div>
            </div>

            <p class="dotted-line"></p>

            <div class="address">
                <div>
                    <p>聯絡信箱</p>
                </div>
                <div class="assress-text">
                    <p>asd123456 gmail.com</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-d-6 col-t-6 col-c-12 col-s-12 tow">

        <!-- ---------------------右邊------------------------ -->
        <div class="iconBox">
            <!-- --------------------來電預約-------------------- -->
            <div class="icon">

                <div>
                    <img src="assets/images/cellphone_icon.png" alt="">
                </div>
                <div>
                    <a href="#" class="btn">來電預約</a>
                </div>
            </div>
            <!-- -----------------------Line---------------------- -->
            <div class="icon">
                <div>
                    <img src="assets/images/line_icon.png" alt="">
                </div>
                <div>
                    <a href="https://line.me/zh-hant/" target="_blank" class="btn">Line諮詢</a>
                </div>
            </div>
            <!-- ---------------------Email-------------------- -->
            <div class="icon">
                <div>
                    <img src="assets/images/email_icon.png" alt="">
                </div>
                <div>
                    <a routerLink="contact" class="btn">聯絡我們</a>
                </div>
            </div>
            <!-- ---------------------FB------------------- -->
            <div class="icon">
                <div>
                    <img src="assets/images/facebook_icon.png" alt="">
                </div>
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="btn">粉絲專頁</a>
                </div>
            </div>
        </div>
    </div>
</div>