<div class="information">


    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="adviser">門市資訊</p>
            <p class="right-line"></p>
        </div>
    </div>
    <!-- ------------------------------ -->
    <div class="text">
        <p class="first">別來咖啡館</p>
        <p class="second">提供免費現場預約及訂位</p>
        <p class="third">禮拜一到禮拜日( 早上 9:00 - 晚上 18:00 )</p>
    </div>
    <div class="col-d-6 col-t-6 col-c-12 col-s-12 one">
        <div class="word">
            <p class="smallTitle">本所地址:<br>高雄市三民區中山一路100號</p>
            <p class="smallTitle">客服電話:<br>(07)123-4567</p>
            <p class="smallTitle">
                預約訂位電話:<br>
                (07)123-4567<br>
                平日白天/晚上/假日都可預約
            </p>
            <p class="smallTitle">E-mail:<br>asd123456 gmail.com</p>
            <p class="car">
                停車資訊:<br>
                高雄市三民區中山一路100號<br>
                高雄市三民區中山路90巷<br>
            </p>
        </div>
    </div>
    <div class="col-d-6 col-t-6 col-c-12 col-s-12 tow">

        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14729.797982643984!2d120.3026986!3d22.6370236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e048b536015b7%3A0x933b0ac489521135!2z5YyX6KiT6Zu76IWm5pyJ6ZmQ5YWs5Y-46ZmE6Kit6IG35qWt6KiT57e05Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1701954269556!5m2!1szh-TW!2stw"
                width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
   
</div>