.information{
    background-color: #736868;
    color: #dcd0c0;

}


.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 40%;
    border-top: 2px;
    border-style:solid;
}
.adviser{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 40%;
    border-top: 2px;
    border-style:solid;
}
/* -----------內容------------ */
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.first{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.second{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.third{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 50px;
}
/* ---------地址--------- */

.word{
    padding-bottom: 73px;
    text-align: start;
    line-height: 25px;
}
.smallTitle{
    margin-bottom: 20px;
}

/* ----------------------RWD------------------ */

[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #736868;

    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;
    background-color: #736868;

    /* background-color: rgb(250, 201, 128); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}