<div class="brunch">
    <div class="word">
        <div class="box">
            <div class="title">
                <p><img src="/assets/images/platter.png" alt=""></p>
                <p>早午餐</p>
            </div>
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 one">
                <div class="all">
                    <div class="pic">
                        <div class="picOne"></div>
                        <p class="items">藍莓乳酪鬆餅</p>
                        <p class="caption">夏天就是水果的季節<br>將藍莓加入鬆餅內<br>清新又美味！</p>
                        <p class="price">- $200 -</p>
                    </div>
                </div>
            </div>
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 tow">
                <div class="all">
                    <div class="pic">
                        <div class="picTwo"></div>
                        <p class="items">牛角麵包</p>
                        <p class="caption">酥脆的牛角麵包<br>塗上不同風味的果醬<br>簡單又好吃的選擇!</p>
                        <p class="price">- $130 -</p>
                    </div>
                </div>
            </div>
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 three">
                <div class="all">
                    <div class="pic">
                        <div class="picThree"></div>
                        <p class="items">燻鮭魚酪梨吐司</p>
                        <p class="caption">麵包夾著酪梨燻鮭魚<br>最後淋上醋醬<br>吃起來清爽無負擔！</p>
                        <p class="price">- $245 -</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 one">
                <div class="all">
                    <div class="pic">
                        <div class="picOne"></div>
                        <p class="items">藍莓乳酪鬆餅</p>
                        <p class="caption">夏天就是水果的季節<br>將藍莓加入鬆餅內<br>清新又美味！</p>
                        <p class="price">- $200 -</p>
                    </div>
                </div>
            </div>
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 tow">
                <div class="all">
                    <div class="pic">
                        <div class="picTwo"></div>
                        <p class="items">牛角麵包</p>
                        <p class="caption">酥脆的牛角麵包<br>塗上不同風味的果醬<br>簡單又好吃的選擇!</p>
                        <p class="price">- $130 -</p>
                    </div>
                </div>
            </div>
            <div class="col-d-4 col-t-4 col-c-4 col-s-12 three">
                <div class="all">
                    <div class="pic">
                        <div class="picThree"></div>
                        <p class="items">燻鮭魚酪梨吐司</p>
                        <p class="caption">麵包夾著酪梨燻鮭魚<br>最後淋上醋醬<br>吃起來清爽無負擔！</p>
                        <p class="price">- $245 -</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>