.brunch{
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #736868;
    color: #3F403B;
}
.word{
    
    border-radius: 20px;
    background-color: #ddd4d4;
    padding: 30px 100px;
    margin: 20px 20px;
}
.title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
.title img{
    width: 100px;
}

.all{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.pic{
    background-color: #bdadad;
    padding: 20px;
    text-align: center;
    margin: 0px 80px;
    line-height: 30px;
    letter-spacing: 1.5px;
    border-radius: 10px;
}
.picOne{
    width: 180px;
    height: 180px;
    background-image: url(/assets/images/brunch1.jpg);
    background-size: cover;
    background-position: 0% 90%;
    border-radius: 10px;
}
.picTwo{
    width: 180px;
    height: 180px;
    background-image: url(/assets/images/brunch2.jpg);
    background-size: cover;
    background-position: 0% 40%;
    border-radius: 10px;
}
.picThree{
    width: 180px;
    height: 180px;
    background-image: url(/assets/images/brunch3.jpg);
    background-size: cover;
    background-position: 0% 60%;
    border-radius: 10px;
}


/* ----------------------RWD----------------- */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    text-align: center;
    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;
    /* background-color: rgb(250, 201, 128); */
}

.three {
    text-align: center;
    /* background-color: rgb(236, 167, 167); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}