<div class="box">

    <!-- -------------------春季------------------ -->
    <div class="line">
        <p class="left-line"></p>
        <p class="reserve">春季限定</p>
        <p class="right-line"></p>
    </div>

    <div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-12 one">

            <div class="first">
                <div class="card">
                    <div class="springOne"></div>
                    <div class="word">
                        <h1 class="title">桑葚氣泡飲</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-6 tow">
            <div class="first">
                <div class="card">
                    <div class="springTwo"></div>
                    <div class="word">
                        <h1 class="title">桑葚檸檬咖啡</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-6 three">
            <div class="first">
                <div class="card">
                    <div class="springThree"></div>
                    <div class="word">
                        <h1 class="title">草莓雪碧</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-12 col-c-12 col-s-12 four">
            <div class="first">
                <div class="card">
                    <div class="springFour"></div>
                    <div class="word">
                        <h1 class="title">鐵觀音咖啡拿鐵</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>


        <!-- -------------------夏季------------------ -->
        <div class="line">
            <p class="left-line"></p>
            <p class="reserve">夏季限定</p>
            <p class="right-line"></p>
        </div>

        <div class="col-d-4 col-t-4 col-c-4 col-s-12 one">
            <div class="second">
                <div class="card">
                    <div class="summerOne"></div>
                    <div class="word">
                        <h1 class="title">百香清涼薄荷</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 tow">
            <div class="second">
                <div class="card">
                    <div class="summerTwo"></div>
                    <div class="word">
                        <h1 class="title">藍莓核桃奶昔</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 three">
            <div class="second">
                <div class="card">
                    <div class="summerThree"></div>
                    <div class="word">
                        <h1 class="title">OREO拿鐵聖代</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>


        <!-- -------------------冬季------------------ -->
        <div class="line">
            <p class="left-line"></p>
            <p class="reserve">冬季限定</p>
            <p class="right-line"></p>
        </div>

        <div class="col-d-4 col-t-4 col-c-4 col-s-12 one">
            <div class="second">
                <div class="card">
                    <div class="winterOne"></div>
                    <div class="word">
                        <h1 class="title">草莓奶昔</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 tow">
            <div class="second">
                <div class="card">
                    <div class="winterTwo"></div>
                    <div class="word">
                        <h1 class="title">蜜香柳橙</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 three">
            <div class="second">
                <div class="card">
                    <div class="winterThree"></div>
                    <div class="word">
                        <h1 class="title">檸檬咖啡</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>