<!-- <div class="aboutUs">
    <p class="bigTitle">關於我們</p>

    <div class="content">
        <div class="col-d-4 col-t-5 col-c-4 col-s-12 one">
            <div class="text">
                <p class="title">品質保證</p>
                <p class="detail">
                    我們堅持使用新鮮優質的咖啡豆和食材<br>
                    為您帶來最頂級的口感和味道
                </p>
            </div>
        </div>
        <div class="col-d-4 col-t-5 col-c-4 col-s-6 tow">
            <div class="text">
                <p class="title">舒適環境</p>
                <p class="detail">
                    我們的咖啡廳寬敞明亮充滿著溫馨的氛圍<br>
                    是您放鬆身心的理想場所
                </p>
            </div>
        </div>
        <div class="col-d-4 col-t-5 col-c-4 col-s-6 three">
            <div class="text">
                <p class="title">友善服務</p>
                <p class="detail">
                    我們的員工經驗豐富且樂於助人<br>
                    隨時準備為您提供專業又友善的服務
                </p>
            </div>
        </div>
    </div>



</div> -->