.box {
    width: 100%;
    background-color: #736868;
}

.title {
    width: 100%;
}


.line {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-line {
    width: 40%;
    border-top: 2px;
    border-style: solid;
    color: #dcd0c0;
}

.contact {
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}

.right-line {
    width: 40%;
    border-top: 2px;
    border-style: solid;
    color: #dcd0c0;
}

/* --------------表單-------------- */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%;
}

/* -----------------表單內容------------------------- */
.input {
    font-size: 16px;
    letter-spacing: 1.5px;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 3px;
    border-radius: 15px;
}

.selectTitle {
    font-size: 20px;
    font-weight: bold;
    color: #dcd0c0;
}

.main {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-radius: 15px;
}

.city {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    border-radius: 15px;

}

/* ------------------希望內容服務checkbox----------------- */
.check {
    width: 500px;
    font-size: 20px;
}

.checkbox {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    margin-right: 35px;
}

.container input:checked {
    background: pink;
}

/* ------按鈕---- */
.btn {
    background-color: #dcd0c0;
    width: 80px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover {
    background-color: #363236;
    color: #dcd0c0;
}

.btnbox {
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
    text-align: center;
}

.text {
    font-size: 14px;
    margin-top: 20px;
    color: #dcd0c0;
}

/* ---------------------RWD--------------------- */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    background-color: #736868;
    /* text-align: center; */
    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;
    /* background-color: rgb(250, 201, 128); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}