<div class="col-d-12 col-t-12 col-c-12 col-s-12 one">
    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="contact">聯絡我們</p>
            <p class="right-line"></p>
        </div>
    </div>
    <!-- -----------------表單------------------ -->
    <div class="form">
        <form>
            <input class="input" type="text" placeholder="*您的姓名">
            <input class="input" type="text" placeholder="*您的姓別">
            <br>
            <input class="input" type="text" placeholder="*聯絡信箱">
            <input class="input" type="text" placeholder="*連絡電話">
            <br>
            <div class="selectTitle">
                年齡<br>
                <select class="main">
                    <option>請下拉選擇...</option>
                    <option>18 - 24歲</option>
                    <option>25 - 34歲</option>
                    <option>35 - 44歲</option>
                    <option>45 - 64歲</option>
                    <option>65歲以上</option>
                </select>
            </div>

            <br>
            <div class="selectTitle">
                您是從哪裡得知本店的呢?<br>
                <select class="main">
                    <option value="">請下拉選擇...</option>
                    <option value="0">親友介紹</option>
                    <option value="1">宣傳傳單</option>
                    <option value="2">網路資訊</option>
                    <option value="3">經過看到</option>
                    <option value="4">其他管道</option>
                </select>
                <br>
                <input class="city" type="text" placeholder="*社區所在縣市">

                <!-- --------------checkbox---------------- -->
                <div class="selectTitle">請問您今天用餐的目的是?</div>
                <div class="check">
                    <input class="checkbox" type="checkbox"><label for="cbox1">朋友聚會</label>
                    <input class="checkbox" type="checkbox"><label for="cbox1">家庭聚會</label>
                    <input class="checkbox" type="checkbox"><label for="cbox1">生日聚會</label><br>
                    <input class="checkbox" type="checkbox"><label for="cbox1">節日用餐</label>
                    <input class="checkbox" type="checkbox"><label for="cbox1">單純用餐</label>
                    <input class="checkbox" type="checkbox"><label for="cbox2">其他</label>
                </div>
                <div class="btnbox">
                    <input class="btn" type="submit" value="送出">
                    <p class="text">
                        ※為提供更好的服務，請讓我們更了解您一點!※<br>
                    </p>
                </div>

            </div>


        </form>
    </div>
</div>