<div class="box">

    <div class="line">
        <p class="left-line"></p>
        <p class="reserve">即將推出</p>
        <p class="right-line"></p>
    </div>

    <div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-12 one">

            <div class="first">
                <div class="card">
                    <div class="photo-thirteen"></div>
                    <div class="word">
                        <h1 class="title">奶酥雪球餅乾</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-6 tow">
            <div class="first">
                <div class="card">
                    <div class="photo-fourteen"></div>
                    <div class="word">
                        <h1 class="title">伯爵蘋果麵包</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-4 col-c-4 col-s-6 three">
            <div class="first">
                <div class="card">
                    <div class="photo-fifteen"></div>
                    <div class="word">
                        <h1 class="title">奶酥雪球餅乾</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-3 col-t-12 col-c-12 col-s-12 four">
            <div class="first">
                <div class="card">
                    <div class="photo-sixteen"></div>
                    <div class="word">
                        <h1 class="title">伯爵蘋果麵包</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------ -->
        <div>
            
        </div>
        <div class="line">
            <p class="left-line"></p>
            <p class="reserve">季節限定</p>
            <p class="right-line"></p>
        </div>

        <div class="col-d-4 col-t-4 col-c-4 col-s-12 one">
            <div class="second">
                <div class="card">
                    <div class="photo-seventeen"></div>
                    <div class="word">
                        <h1 class="title">聖誕核果麵包</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 tow">
            <div class="second">
                <div class="card">
                    <div class="photo-eighteen"></div>
                    <div class="word">
                        <h1 class="title">夏季蘋果乳酪派</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-d-4 col-t-4 col-c-4 col-s-6 three">
            <div class="second">
                <div class="card">
                    <div class="photo-nineteen"></div>
                    <div class="word">
                        <h1 class="title">冬季松露巧克力派</h1>
                        <p class="positon">--</p>
                        <h5>
                            -商品皆為每日限量供應-<br>
                            -售完為止-<br>
                            -網站刊登僅供參考-<br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>