.box{
    height: 100%;
    background-color: #736868;
}
.line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 40%;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.reserve{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 40%;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
/* ------------------------------------------ */
.first{
    
    padding-top: 150px;
}
.second{
    
    padding-top: 150px;
}
.card{
    margin: auto;
    width: 300px;
    height: 400px;
    background-color:  #d2d2d2;
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    border-radius: 25px;
    margin-bottom: 150px;
}

.word{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
    color: #5e4947;

}
h1{
    font-size: 20px;
    margin-bottom: 10px;
    
}
h5{
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 30px;
}
.positon{
    font-size: 20px;
    margin-bottom: 20px;
}

.photo-thirteen{
    background: url("/assets/images/cookies.jpg");
    background-size: cover;
    background-position: 40% 0%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-fourteen{
    background: url("/assets/images/bread1.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-fifteen{
    background: url("/assets/images/cookies.jpg");
    background-size: cover;
    background-position: 40% 0%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-sixteen{
    background: url("/assets/images/bread1.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}

.photo-seventeen{
    background: url("/assets/images/bread2.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-eighteen{
    background: url("/assets/images/pie.jpg");
    background-size: cover;
    background-position: 0% 90%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-nineteen{
    background: url("/assets/images/pie2.jpg");
    background-size: cover;
    background-position: 0% 0%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}


/* -------------RWD------------ */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    text-align: center;
    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;
    /* background-color: rgb(250, 201, 128); */
}

.three {
    text-align: center;
    /* background-color: rgb(236, 167, 167); */
}

.four {
    text-align: center;
    /* background-color: rgb(140, 190, 140); */
}

footer {
    left: 0px;
    bottom: 0px;
    background-color: gray;
    width: 100%;
    padding: 8px;
    text-align: center;
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}