.afternoonTea {
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #736868;
    color: #3F403B;
}

.word{
    display: block;
    border-radius: 20px;
    background-color: #ddd4d4;
    padding: 30px 0px;
    margin: 20px 20px;
}

.title {
    width: 180px;
    text-align: center;
    display: block;
    font-size: 36px;
    margin: 0px 70px;
}

.title img {
    width: 100px;
    margin-bottom: 10px;
}

/* ---------------- */
.menu{
    font-size: 14px;
    margin: 10px 75px;
    
}

.all {
    display: flex;
    margin-top: 50px;
}
.pic{
    width: 180px;
    height: 180px;
    display: block;
    text-align: center;
    background-color: #bdadad;
    padding: 20px;
    margin: 0px 50px;
    line-height: 50px;
    letter-spacing: 1.5px;
    border-radius: 10px;
}
.items{
    font-size: 20px;
}
.caption{
    font-size: 16px;
}
.price{
    font-size: 16px;
}


/* ----------RWD--------- */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {
    text-align: center;
    /* background-color: rgb(162, 233, 255); */
}

.tow {
    text-align: center;
    /* background-color: rgb(250, 201, 128); */
}

.three {
    text-align: center;
    /* background-color: rgb(236, 167, 167); */
}

.four {
    text-align: center;
    /* background-color: rgb(140, 190, 140); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}