<div class="afternoonTea">
    <div class="word">
        <div class="box">
            <div class="title">
                <img src="/assets/images/coffee.png" alt="">
                <p>下午茶時光</p>
            </div>

            <div>
                <p class="menu">ENJOY A RELAXING AFTERNOON.</p>
            </div>

            <div class="col-d-3 col-t-6 col-c-6 col-s-12 one">
                <div class="all">
                    <div class="pic">
                        <p class="items">濃縮美式咖啡</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$150</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 tow">
                <div class="all">
                    <div class="pic">
                        <p class="items">蜂蜜檸檬美式</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$180</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 three">
                <div class="all">
                    <div class="pic">
                        <p class="items">清梅酒冰美式</p>
                        <p class="caption">冰-大/中/小</p>
                        <p class="price">$250</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 four">
                <div class="all">
                    <div class="pic">
                        <p class="items">卡布奇諾</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$150</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="box">
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 one">
                <div class="all">
                    <div class="pic">
                        <p class="items">濃縮美式咖啡</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$150</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 tow">
                <div class="all">
                    <div class="pic">
                        <p class="items">蜂蜜檸檬美式</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$180</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 three">
                <div class="all">
                    <div class="pic">
                        <p class="items">清梅酒冰美式</p>
                        <p class="caption">冰-大/中/小</p>
                        <p class="price">$250</p>
                    </div>
                </div>
            </div>
            <div class="col-d-3 col-t-6 col-c-6 col-s-12 four">
                <div class="all">
                    <div class="pic">
                        <p class="items">卡布奇諾</p>
                        <p class="caption">冰/熱-大/中/小</p>
                        <p class="price">$150</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>