.box{
    width: 100%;
    float: inline-start;
    background-color: #736868;
    color: #dcd0c0;
    

}
.title {
    text-align: center;
    line-height: 30px;
    padding: 50px;
    font-size: 36px;
}

/* -------------頁面長------------- */

#timeline {
    position: relative;
    margin: 0px auto;
    padding: 25px;
    height: 700px;
    box-sizing: border-box;
}

/* -------------線長------------- */

#timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 500px;
    background-color: #47443B;
}

#tineline ul {
    margin: 0;
    padding: 0;
}

#timeline ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

#timeline ul li:nth-child(odd) {
    float: left;
    ;
    text-align: right;
    clear: both;
}

#timeline ul li:nth-child(even) {
    float: left;
    ;
    text-align: left;
    clear: both;
}

/* -------------------圓點點--------------- */

#timeline ul li:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #47443B;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #aaa8a1;
}

#timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

#timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    
}

/* ------月份樣式----- */

#timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 10px;
    right: -100px;
    padding: 8px 16px;
    background: rgba(71, 68, 59, 1);
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 0 3px #aaa8a1;
   
}

#timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(71, 68, 59, 1);
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 0 3px #aaa8a1;
}

.content {
    width: 200px;
    float: right;
    text-align: left;
    font-weight: bold;
}

.time {}

/* ------------------------RWD---------------------- */
[class *='col-'] {
    width: 100%;
    float: left;
    padding: 12px;
}

.one {

    text-align: center;
    /* background-color: rgb(162, 233, 255); */
}

@media only screen and (min-width:576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25.00%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50.00%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75.00%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:768px) {
    .col-c-1 {
        width: 8.33%;
    }

    .col-c-2 {
        width: 16.66%;
    }

    .col-c-3 {
        width: 25.00%;
    }

    .col-c-4 {
        width: 33.33%;
    }

    .col-c-5 {
        width: 41.66%;
    }

    .col-c-6 {
        width: 50.00%;
    }

    .col-c-7 {
        width: 58.33%;
    }

    .col-c-8 {
        width: 66.66%;
    }

    .col-c-9 {
        width: 75.00%;
    }

    .col-c-10 {
        width: 83.33%;
    }

    .col-c-11 {
        width: 91.66%;
    }

    .col-c-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:992px) {
    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25.00%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50.00%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75.00%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100.0%;
    }
}

@media only screen and (min-width:1200px) {
    .col-d-1 {
        width: 8.33%;
    }

    .col-d-2 {
        width: 16.66%;
    }

    .col-d-3 {
        width: 25.00%;
    }

    .col-d-4 {
        width: 33.33%;
    }

    .col-d-5 {
        width: 41.66%;
    }

    .col-d-6 {
        width: 50.00%;
    }

    .col-d-7 {
        width: 58.33%;
    }

    .col-d-8 {
        width: 66.66%;
    }

    .col-d-9 {
        width: 75.00%;
    }

    .col-d-10 {
        width: 83.33%;
    }

    .col-d-11 {
        width: 91.66%;
    }

    .col-d-12 {
        width: 100.0%;
    }
}