<div class="box">
    <div class="col-d-12 col-t-12 col-c-12 col-s-12 one">

        <h2 class="title">每月活動</h2>
        <div id="timeline">
            <ul>
                <li>
                    <div class="content">
                        <h3>夏季活動</h3>
                        <p>活動於時間:7月-8月</p>
                    </div>
                    <div class="time">
                        <h4>七月</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content">
                        <h3>夏季活動</h3>
                        <p>活動於時間:7/15-8/30</p>
                    </div>
                    <div class="time">
                        <h4>八月</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content">
                        <h3>雙十活動</h3>
                        <p>活動於時間:10/10</p>
    
                    </div>
                    <div class="time">
                        <h4>十月</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content">
                        <h3>聖誕節活動</h3>
                        <p>活動於時間:12/22-12/25</p>
    
                    </div>
                    <div class="time">
                        <h4>十二月</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="content">
                        <h3>春節活動</h3>
                        <p>活動於時間:2024/02/08-02/14</p>
    
                    </div>
                    <div class="time">
                        <h4>二月</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
