<!-- ---------輪播圖---------- -->
<div id="myCarousel" class="carousel slide">
    <!------圖片下的小按鈕------->
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <!-- ---------圖片-------- -->
    <div class="carousel-inner">
        
        <div class="title">
            <img src="/assets/images/coffee.png" alt="">
        </div>

        <div>
            <p class="menu">-RANKING LIST-</p>
        </div>
        <div class="carousel-item active">
            <img src="/assets/images/spring1.jpg" class="banner" alt="...">
            <img src="/assets/images/spring2.jpg" class="banner" alt="...">
            <img src="/assets/images/spring3.jpg" class="banner" alt="...">
            <h1>NO.1</h1>
            <p>春季桑葚氣泡飲</p>
            <p>桑葚檸檬咖啡</p>
            <p>冬季草莓雪碧</p>
        </div>

        <div class="carousel-item">
            <img src="/assets/images/summer1.jpg" class="banner" alt="...">
            <img src="/assets/images/summer2.jpg" class="banner" alt="...">
            <img src="/assets/images/summer3.jpg" class="banner" alt="...">
            <h1>NO.2</h1>
            <p>百香清涼薄荷</p>
            <p>藍莓核桃奶昔</p>
            <p>OREO拿鐵聖代</p>
        </div>

        <div class="carousel-item">
            <img src="/assets/images/winter1.jpg" class="banner" alt="...">
            <img src="/assets/images/winter2.jpg" class="banner" alt="...">
            <img src="/assets/images/winter3.jpg" class="banner" alt="...">
            <h1>NO.3</h1>
            <p>冬季草莓奶昔</p>
            <p>冬季蜜香柳橙</p>
            <p>冬季檸檬咖啡</p>
        </div>
    </div>

    <!-- ---------上一張-------- -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="" aria-hidden="true"><img src="/assets/images/back.png" alt="" width="50px"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <!-- ---------下一張-------- -->
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="" aria-hidden="true"><img src="/assets/images/next.png" alt="" width="50px"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- ---------輪播圖end-------- -->
