/* ------最熱銷------- */
.title {
    width: 250px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
}

.title img {
    width: 30%;
}
.menu{
    font-size: 24px;
    padding-bottom: 50px;

}


/*--------------------以下輪播圖-------------------- */

.banner {
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    
}
.carousel-inner{
    padding: 50px 0px;
    text-align: center;
    background-color: #afa296!important;
    
}
.carousel-item img{
    margin: 0px 40px;

}
.carousel-inner h1 {
    line-height: 30px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(43, 43, 43);
    margin: 10px 0px;
    margin-top: 45px;

}
.carousel-inner p{
    display: inline-flex;
    letter-spacing: 1.5px;
    line-height: 30px;
    margin: 0px 80px;
}

